body {
    display: flex;
    justify-content: center;
    margin: 0%;
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
    color: rgb(17, 0, 22);
    font-family: 'Courier New', Courier, monospace;
}

button {
    border-radius: 20%;
    background-color: red;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.header {
    display: flex;
    justify-content: center;
}

.bookForm {
    display: flex;
    gap: 5px;
    height: auto;
    flex-direction: column;
    margin-top: 15px;
}

.form1,
.form2,
.form3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    font-weight: bold;
}

.form2 {
    margin-right: 8px;
}

.form3 {
    margin-right: 3px;
}
#title,
#author,
#pages {
    padding: 5px;
    border-radius: 4px;
    width: 900px;
}

#title {
    margin-right: 3px;
}

.form4 {
    display: flex;
    justify-content: center;
    gap: 3px;
    padding: 5px;
    font-weight: bold;
}

.read{
    margin-top: 3px;;
}

.Add {
    display: block;
    width: 100%;
    border-radius: 4px;
    background-color: rgb(0, 226, 136);
    font-weight: bold;
    padding: 8px;
    font-size: 15px;
    cursor: pointer;
}


.title,
.author,
.pages,
.read {
    border-bottom: 1px solid black;
}

.table {
    margin-top: 20px;
    font-family:'Courier New', Courier, monospace
}

.btn {
    cursor: pointer;
}

.footer {
    display: flex;
    margin-top: 500px;
    justify-content: center;
}

.github {
    width: 17px;
    margin-left: 5px;
}

.github:hover {
    transform: scale(1.1)
}